body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #eaf2ff !important;

}


.absen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.attendance-container {
    padding: 20px;
    max-width: 800px;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
}

.attendance-container h1 {
    margin-top: 10px;
    font-size: 1.5em;
}


.visual {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #4c8eaf;
    font-size: 1.1em;
}

.visual th,
.visual td {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #4c8eaf;
    text-align: center;
}


.visual th {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.visual tr:last-child td {
    border-bottom: none;
}


.attendance-container div[style*="display: flex"] {
    margin-bottom: 20px;
}

.attendance-container button {
    border-radius: 10px;
    padding: 12px 10px;
    min-width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-container button h1 {
    margin: 0;
    font-size: 1.2em;
    padding: 0;
}



.pos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}


.card-container {
    background-color: #708090;
    color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 260px;
    text-align: center;
    margin: 0;
    max-height: 250px;
    overflow: hidden;
}


.salat,
.cuaca {
    margin: 0;
    padding: 0;
}


.salat p {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
    position: relative;
}

.salat iframe {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 220px;
}