*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/part/logsurvey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 200%;
}

.wrapper {
    border: 2px solid #333;
    width: 400px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-image: url('../img/part/survey.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #1d1818;
}

.form-group {
    margin-bottom: 15px;
}

    label {
        font-size: 16px;
        margin-bottom: 5px;
        display: block;
        color: #121212;
        font-weight: bold; 
    }

.input-login {
    border: 1px solid #ccc;
    padding: 10px 1px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

.input-login:focus {
    border-color: #007bff;
    outline: none;
}

.button-login {
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-login:hover {
    background-color: #0056b3;
}

.notif-login {
    background-color: tomato;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
}